/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Exo 2 Condensed */
@import url('https://fonts.cdnfonts.com/css/exo-2-medium-condensed');

/* Archia */
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Thin.otf') format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Light.otf') format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Regular.otf') format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Medium.otf') format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Bold.otf') format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-SemiBold.otf') format("opentype");
    font-weight: 600;
}

:root {
    --color-yellow: #ffed00;

    /* ? OR "bordeaux" */
    --color-bordeaux: #520020;

    --color-blue: #20234c;
    --color-blue-dark: #0e1237;

    --color-gray: #e8e8e8;
    --color-gray-dark: #4D4D4D;
    --color-text-behind: #f0f1f2;

    --color-accent: var(--color-bordeaux, #520020);
    --color-primary: var(--color-bordeaux, #520020);
    --color-secondary: #a26578;
    --color-tertiary: #ffffff;

    accent-color: var(--color-bordeaux, #520020);
    interpolate-size: allow-keywords;

    --wall-bg-overlay: linear-gradient(0deg, #ffffffb3 0%, #ffffffb3 100%);
}

/* # RESET / NORMALIZE */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ? temp ? */
*:focus-visible{
    outline: 3px solid #56b6ffc0;
    outline-offset: 0px;
    /* border: none; */
    /* border-radius: inherit; */
}

html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

[hidden] {
    display: none !important;
}

table {
    border-collapse: collapse;
    border: none;
}

dt, dd{
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: none;
}


small {
    font-size: 80%;
}

dialog {
    margin: initial;
}

ul,
ol {
    list-style-type: none;
}

picture,
img {
    display: block;
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
    /* -webkit-user-drag: none; */
}

figure {
    position: relative;
    margin: 0;
}


/* Prevent <sub> and <sup> elements from affecting the line height */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

textarea {
    max-width: 100%;
    font-size: inherit;
    font-family: inherit;
}

textarea:focus-visible {
    outline: none;
}

input {
    font-family: inherit;
}

strong {
    font-weight: 700;
}

b {
    font-weight: 800;
}

label{
    -webkit-user-select: none;
    user-select: none;
}

dl {
    margin: initial;
}

/* ? maybe ? */
details {
    overflow: hidden;
}
details::details-content {
    block-size: 0;
    transition-property: block-size, content-visibility;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

details:open::details-content {
    block-size: auto;
}


.container {
    max-width: 1140px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}

.container-m {
    max-width: 1000px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}


.container--breakout {
    margin-left: calc((100vw - 100% - 0px)* -1 / 2);
    width: calc(100vw - 0px);
}

body {
    font-family: 'Exo 2', sans-serif;
    color: var(--color-gray-dark);
    line-height: 1.5;
    overflow-x: hidden;
    overflow-x: clip;
}

.btn{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    gap: 0.25em 0.5em;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    transition: none;
    white-space: normal;

    /* oh if only... */
    /* border-radius: 6px;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    text-transform: none;
    font-size: 0.875rem; */
}

.btn.btn--primary {
    background-color: var(--color-primary, #520020);
    color: white;
}

/* # HEADINGS */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
    color: var(--color-primary, #520020);
    position: relative;
    isolation: isolate;
    line-height: 1.0;
    font-weight: bold;
    /* Flex - i hate this */
    display: flex;
    flex-direction: column;
    gap: 0.2em
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    /* -webkit-hyphens: auto; */
    /* hyphens: auto; */
    letter-spacing: 0.015em;
    line-height: 1.0;
    max-width: 45rem;
    word-break: break-word;
    text-wrap: balance;
    gap: 1.5rem;
}


@media (max-width: 767px){
    h1{
        font-size: 2.75rem;
    }
}

h2 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

h2 a{
    text-decoration: none;
}


h3 {
    font-size: 1.75rem;
}

h5 {
    margin-block: 0.25rem;
}


:is(h1, h2, h3, h4, h5, h6) strong {
    
}
:is(h1, h2, h3, h4, h5, h6) b {
    font-size: 1.6em;
}
:is(h1, h2, h3, h4, h5, h6) small {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.001em;
}

/* # text-behind */
/* TODO: Refactor text-behind positioning */
[data-text-behind]:not([data-text-behind=""]){
    padding-top: 3.5rem;
}
[data-text-behind]:not([data-text-behind=""])::before{
    content: attr(data-text-behind);
    color: var(--color-text-behind);
    position: absolute;
    bottom: 100%;
    translate: -15px 7.75rem;
    z-index: -1;
    font-family: 'Exo 2', 'Roboto', sans-serif;
    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}

@media (max-width: 991px){
    h2{
        font-size: 2rem;
    }
    [data-text-behind]:not([data-text-behind=""]){
        padding-top: 2rem;
    }
    [data-text-behind]:not([data-text-behind=""])::before{
        font-size: 4rem;
        translate: -15px 4.5rem;
    }
}


p {
  margin-block: 1rem;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

hr {
    height: 1px;
    background-color: var(--color-primary);   
    border: none;
    margin-block: 1.5rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.contacts {
    display: flex;
    gap: 0.25rem 1rem;
    align-items: center;
}

.contacts--footer {
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .contacts--header .label{
        display: none;
    }
}


/* # SECTIONS */
section {
    position: relative;
    overflow-x: clip;
    scroll-margin-top: 3.0rem;
    padding-block: 3.0rem;
}

/* Section w/o bg after a section w/o bg */
section:not([class*="bg-"])+section:not([class*="bg-"]) {
    padding-top: 0;
}

/* Section w/ bg */
section:where([class*="bg-"]) {
    /* margin-block: 0; */
    padding-block: 3.0rem;
}

@media (max-width: 991px){
    section{
        padding-block: 1rem;
    }
}

/** Section colors **/
.bg-primary{
    background-color: var(--color-primary, var(--color-bordeaux, #520020));
    color: white;
    --color-text-behind: #6e133a;
}

.bg-bordeaux{
    background-color: var(--color-bordeaux, #520020);
    color: white;
    --color-text-behind: #6e133a;
}

.bg-gray{
    --color-text-behind: #f3f3f3;
    background-color: var(--color-gray, #e8e8e8);

}

.bg-blue{
    background-color: var(--color-blue, #20234c);
    color: white;
}

[class*="bg-"] :is(h1, h2, h3, h4, h5, h6):first-of-type{
    margin-top: 0;
}

:is(.bg-primary, .bg-bordeaux, .bg-blue) :is(h1, h2, h3, h4, h5, h6){
    color: inherit;
}

strong {
    color: var(--color-bordeaux, #520020);
}

:is(.bg-primary, .bg-bordeaux, .bg-blue, figcaption) strong{
    color: inherit;
}

.perex strong {
    color: black;
}

/* # UNDERLINES */
.underline{
    text-decoration: underline;
}

.hover-underline{
    text-decoration: none;
}

.hover-underline:hover{
    text-decoration: underline;
}

.underline-hover-none{
    text-decoration: underline;
}

.underline-hover-none:hover{
    text-decoration: none;
}

/* * Animated underline (transitions, multiline)  */
/* ! Multiline may break when flex child ?? */
.underline-animated {
  --underline-height: 2px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(currentColor, currentColor);
  background-position: left 100%;
  background-size: 100% var(--underline-height), 0 var(--underline-height);
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  transition-property: background-size;
}

.underline-animated:hover {
  background-size: 0 var(--underline-height), 100% var(--underline-height);
}


/* # LIST */
.list{
    font-size: inherit;
    padding-left: 1.75rem;
}
.list > li{
    position: relative;
    margin-block: 1rem;
}
.list > li::marker{
    color: var(--color-primary);
}
.list > li:before{
    position: absolute;
    right: calc(100% + 0.5rem);
}
.list.list--m > li{
    margin-block: 0.5rem;
}
.list.list--sm > li{
    margin-block: 0.25rem;
}

.bullet-points {
    list-style-type: disc;
}

.check-marks li:before {
    content: '✔';
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

.check-marks-big {
    padding-left: 0rem;
}
.check-marks-big li {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.check-marks-big li:before {
    content: '';
    position: static;
    background: no-repeat center center / contain;
    background-image: url('/img/check-mark-primary.svg');
    width: 2.5rem;
    height: 2.5rem;
    align-self: start;
    flex: 0 0 auto;
}


/** Letters Counter **/
.counter-letters{
    counter-reset: counter-letters;
}

.counter-letters > li{
    counter-increment: counter-letters;
}

.counter-letters > li::before{
    content: counter(counter-letters, lower-alpha) ') ';
}


/** Fancy Counter **/
.fancy-counter{
    counter-reset: fancy-counter;
    list-style-type: none;
    padding-left: 4.0rem;
}

.fancy-counter > li{
    counter-increment: fancy-counter;
    position: relative;
    padding-left: 1.5rem;
}

.fancy-counter > li::before{
    content: counter(fancy-counter);
    font-size: 1.75rem;
    background-color: var(--color-primary);
    position: absolute;
    right: 100%;
    color: white;
    font-weight: 200;
    width: 3.5rem;
    height: 2.75rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0.25em 0.0em 0.25em 0.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.members{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 0.0rem 3vw;
    text-align: center;
}

.member{
    width: 130px;
    margin-bottom: 1rem;
}

.member img{
    aspect-ratio: 4/3;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}

figcaption{
    line-height: 1.15;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
}

@media (max-width: 767px){
    .members{
        flex-wrap: wrap;
    }
    .member{
        width: 100px;
        margin-bottom: 0;
    }
    .member img{
        margin-bottom: 0;
    }
}

.hr-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-block: 1.0rem;
    text-align: center;
}
.hr-text:before, 
.hr-text:after{
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    /* margin: auto; */
}

.banner-summit{
    display: block;
    max-width: 1000px;
    margin-inline: auto;
}

.wide-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
}



.hero{
    --hero-bg-overlay: linear-gradient(0deg, #c8d0d5eb 0%, #c8d0d5eb 100%);
    background: no-repeat center center/cover;
    background-image: var(--hero-bg-overlay), url('/img/bg-hero_3840.jpg');
    color: var(--color-primary);
    position: relative;
    padding: 0;
    overflow: clip;
}


.hero__top-bar{
    background-color: rgba(0,0,0,0.25);
    color: white;
    padding-block: 0.75rem;
    line-height: 1.25;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-block: 2.5rem 3rem;
    font-size: 1.375rem;
    line-height: 1.25;
}

.hero__logo {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1rem 2.5rem;
}

.hero .logo{
    width: 225px;
    flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
    .hero__content{
        padding-top: 1.5rem;
        gap: 2.5rem;
    }
    .hero__logo{
        font-size: 1rem;
        gap: 1rem min(2.5rem, 5%);
    }
    .hero .logo{
        width: 100px;
        align-self: flex-start;
    }   
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

@media (max-width: 399px) {
    .hero__logo {
        flex-direction: column;
    }
}

.showcases{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 270px), 1fr));
    align-items: baseline;
    gap: 1rem;
    justify-items: center;
}

/* iOS fix: baseline breaks first row's height (appleee!) */
@supports (-webkit-touch-callout: none) {
    .showcase {
        align-items: center;
    }
}

.showcases__row{
    position: relative;
}

.showcases__row:not(:first-child)::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    bottom: calc(100% + 2rem);
    display: block;
}

.showcase__item{
    
}

.showcase__item img {
    width: 100%;
    object-fit: contain;
    margin-inline: auto;
}

footer{
    padding-block: 2.5rem;
    background-color: #93989c;
    color: white;
    margin-top: 3.5rem;
}

.footer__content{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem min(2.5rem, 5%);
}

footer .logo{
    width: 100px;
}

.footer__body a {
    text-decoration:underline;
}
.footer__body a:hover {
    text-decoration:none;
}

@media screen and (min-width: 992px) {
    footer .logo{
        width: 200px;
        position: relative;
        margin-top: -98px;
    }    
}

.banner-form {
    background-image: url('/img/bg-form-banner.png'), var(--wall-bg-overlay), url('/img/texture-wall_2000.jpg');
    background-repeat: no-repeat;
    background-position: right center, center, center;
    background-size: auto 300px, cover, cover;
    padding: 2rem min(2.5rem, 5%);
}

.banner-form h2 {
    max-width: 25rem;
}

.banner-form .btn {
    margin-top: 1rem;
}

@media screen and (max-width: 991px) {
    .banner-form {
        background-size: contain, cover, cover;
    }
}

@media screen and (max-width: 767px) {
    .banner-form {
        background-image: var(--wall-bg-overlay), url('/img/texture-wall_2000.jpg');
    }
    .banner-form h2 {
        max-width: unset;
    }
}

.quote {
    background: no-repeat center center/cover;
    background-image: var(--wall-bg-overlay), url('/img/texture-wall_2000.jpg');
    font-size: 18px;
    line-height: 1.25;
    color: var(--color-primary);
    font-weight: 550;
    margin-block: 1.5rem;
    padding: 1.0rem min(2.5rem, 5%);
    position: relative;
}

.quote:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0 auto 0 0;
    width: 4px;
    background-color: var(--color-primary);
}

.magazine {
    background-color: #e8e8e8;
    padding-inline: min(50px, 5%);
}


.magazine iframe {
    border: none;
    width: 100%;
    height: 700px;
    max-height: 75vh;
}

.magazine__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0.5rem min(2rem, 5%);
    padding-block: 1.5rem;
}

@media screen and (max-width: 767px) {
    .magazine__buttons {
        grid-template-columns: 1fr;
    }
}

.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 5.5rem min(2.5rem, 5%) 2.5rem;
    margin-top: 2rem;
    background: no-repeat center center / cover;
    position: relative;
}

.types h2 {
    position: absolute;
    background-color: var(--color-primary);
    color: white;
    top: 0;
    left: min(2.5rem, 5%);
    padding: 0.4em 0.9em;
    translate: 0 -50%;
    font-size: 1.75rem;
    font-weight: 700;
    max-width: 90%;
    line-height: 1.3;
}

.types figure figcaption {
    position: absolute;
    font-size: 1.25rem;
    background-color: var(--color-primary);
    top: -8px;
    left: -8px;
    margin: 0;
    color: white;
    font-family: inherit;
    padding: 0.333rem 1.5rem 0.333rem 0.85rem;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 12px) 100%, 0% 100%);
}


.types--one {
    background-image: var(--wall-bg-overlay), url('/img/texture-wall_2000.jpg');
}

.types--two {
    border: 1px solid var(--color-primary, #520020);
}

@media screen and (max-width: 767px) {
    .types {
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
    .types h2 {
        font-size: 1.25rem;
    }
}

/* TODO: Někam zakomponovat bg img u form banneru na mobilu? */
/* TODO: Formulář */

