/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Exo 2 Condensed */
@import url('https://fonts.cdnfonts.com/css/exo-2-medium-condensed');

/* Archia */
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Thin.otf') format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Light.otf') format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Regular.otf') format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Medium.otf') format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Bold.otf') format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-SemiBold.otf') format("opentype");
    font-weight: 600;
}

:root {
    --color-yellow: #ffed00;

    /* ? OR "bordeaux" */
    --color-bordeaux: #7a0038;

    --color-blue: #20234c;
    --color-blue-dark: #0e1237;

    --color-gray: #e8e8e8;
    --color-gray-dark: #4D4D4D;
    --color-text-behind: #f0f1f2;
    --color-near-black: #070707;

    /* --color-accent: var(--color-bordeaux, #7a0038); */
    --color-primary: var(--color-bordeaux, #7a0038);
    --color-secondary: #a26578;
    --color-tertiary: #ffffff;

    --color-pros: #134013;
    --color-cons: var(--color-bordeaux, #7a0038);

    accent-color: var(--color-primary, var(--color-bordeaux, #7a0038));
    interpolate-size: allow-keywords;

    --font-size-text-behind: 9rem;

    --wall-bg-overlay: linear-gradient(0deg, #ffffffb3 0%, #ffffffb3 100%);
}


/* # RESET / NORMALIZE */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ? temp ? */
*:focus-visible{
    outline: 3px solid #56b6ffc0;
    outline-offset: 0px;
    /* border: none; */
    /* border-radius: inherit; */
}

html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

[hidden] {
    display: none !important;
}

table {
    border-collapse: collapse;
    border: none;
}

dt, dd{
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: none;
}

/* ? consider */
:where(main :is(p, li)) > a {
    color: var(--color-primary);
    font-weight: 700;
}

:where(p, li) > a:hover{
    text-decoration: underline;
}

small {
    font-size: 80%;
}

dialog {
    margin: auto;
    border: none;
}

ul,
ol,
menu {
    list-style-type: none;
}

picture,
img {
    display: block;
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
    /* -webkit-user-drag: none; */
}


figure {
    position: relative;
    margin: 0;
}


/* Prevent <sub> and <sup> elements from affecting the line height */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

textarea {
    max-width: 100%;
    font-size: inherit;
    font-family: inherit;
}

textarea:focus-visible {
    outline: none;
}

input {
    font-family: inherit;
}

strong {
    font-weight: 700;
}

b {
    font-weight: 800;
}

label{
    -webkit-user-select: none;
    user-select: none;
}

dl {
    margin: initial;
}

/* ? maybe ? */
details {
    overflow: hidden;
}
details::details-content {
    block-size: 0;
    transition-property: block-size, content-visibility;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

details:open::details-content {
    block-size: auto;
}


.container {
    max-width: 1140px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}

.container-lg {
    max-width: 960px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}
.container-md {
    max-width: 720px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}


.container--breakout {
    margin-left: calc((100vw - 100% - 0px)* -1 / 2);
    width: calc(100vw - 0px);
}

body {
    font-family: 'Exo 2', sans-serif;
    /* color: var(--color-gray-dark); */
    color: var(--color-near-black, #070707);
    line-height: 1.5;
    overflow-x: hidden;
    overflow-x: clip;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.25em 0.5em;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    transition: none;
    white-space: normal;
    border: none;

    /* oh if only... */
    /* border-radius: 6px;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    text-transform: none;
    font-size: 0.875rem; */
}

.btn.btn--primary {
    background-color: var(--color-primary, #7a0038);
    color: white;
}

/* # HEADINGS */
:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Exo 2', sans-serif;
    color: var(--color-primary, #7a0038);
    position: relative;
    line-height: 1.0;
    font-weight: 700;
    /* ? maybe */
    /* text-box: trim-both cap alphabetic; */
}

h1 {
    font-size: 3.5rem;
    line-height: 1.10;
    word-break: break-word;
    text-wrap: balance;
    gap: 1.5rem;
}

h1 strong {
    font-weight: 800;
}
:is(h1, h2, h3, h4, h5, h6) b {
    font-size: 1.6em;
    vertical-align: sub;
}
:is(h1, h2, h3, h4, h5, h6) small {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.001em;

    /* ! debug */
    /* color: cyan !important; */
    display: block;
    margin-block: 0.5rem;
}


h2 {
    font-size: 2.75rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
    /* ? maybe ? */
    text-wrap: balance;
    /* ! debug */
    /* color: firebrick !important; */
}

h2 a{
    text-decoration: none;
}

h3 {
    font-size: 1.75rem;
    font-weight: 775;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
    /* ! debug */
    /* color: blue !important; */
}

/* ? maybe  */
li h3 {
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.25rem;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

h5 {
    margin-block: 0.25rem;
}

:is(h1, h2, h3, h4, h5, h6):first-child{
    margin-top: 0;
}
:is(h1, h2, h3, h4, h5, h6):last-child{
    margin-bottom: 0;
}

/**  text-behind **/
/* TODO: Refactor text-behind positioning */
[data-text-behind]:not([data-text-behind=""]) {
    position: relative;
    display: block;
    /* Note: Difference in text-behind size and primary text size -> half that +- offset */
    /* Note: Positioning breaks when primary text larger than text behind */
    padding-top: calc(((var(--font-size-text-behind, 9rem) - 1em) / 2) + 0.5rem);
    min-height: var(--font-size-text-behind, 9rem);
    /* ! debug */
    /* background: rgba(255, 0, 0, 0.2); */

}
/* ? reduce specificity ? */
[data-text-behind]:not([data-text-behind=""])::before {
    content: attr(data-text-behind);
    color: var(--color-text-behind);
    position: absolute;
    top: 0;
    translate: -40px 0;
    font-size: var(--font-size-text-behind, 9rem);
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    z-index: -1;
    /* ! debug */
    /* background: rgba(0, 0, 128, 0.2); */
    /* ? maybe */
    /* text-box: trim-both cap alphabetic; */
}

@media screen and (max-width: 1199px) {
    [data-text-behind]:not([data-text-behind=""])::before {
        translate: -15px 0;
    }
}

/** HEADINGS MOBILE QUERIES **/
@media (max-width: 767px) {
    :root {
        --font-size-text-behind: 4.5rem;
    }
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

/* ! TESTING */
#dev-cms-content main :last-child {
    /* margin-bottom: 0; */
}


p {
    margin-block: 1rem;
    text-wrap: pretty;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

p:has(+section) {
    margin-bottom: 0;
}

hr {
    height: 1px;
    background-color: var(--color-primary);   
    border: none;
    margin-block: 1.5rem;
}

.perex {
    font-size: 1.125rem;
    font-weight: 550;
    /* ? maybe ? */
    color: #111111;
    margin-bottom: 1.5rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.contacts {
    display: flex;
    gap: 0.25rem 1rem;
    align-items: center;
}

.contacts--footer {
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .contacts--header .label{
        display: none;
    }
}



/* # SECTIONS */
section {
    position: relative;
    overflow-x: hidden;
    overflow-x: clip;
    scroll-margin-top: 4.0rem;
    padding-block: 4.0rem;
    /* ! testing */
    padding-block: 1.75rem;
}

/** Avoid duplicating visual gap (padding) between transparent sections **/
section:not([class*="bg-"])+section:not([class*="bg-"]) {
    /* ! temp off */
    /* padding-top: 0; */
}

/* Section w/ bg */
section:where([class*="bg-"]) {
    /* margin-block: 0; */
    padding-block: 4.0rem;
}

@media (max-width: 991px) {
    section{
        padding-block: 2.0rem;
    }
}

section>section:first-child {
    padding-top: 0;
}
section>section:last-child {
    padding-bottom: 0;
}

/** Sub-sections **/
section section {
    overflow: visible;
    /* ! debug */
    /* background-color: rgba(0,255,0,0.15); */
    padding-block: 1.5rem;
}

/** Section colors **/
.bg-primary {
    background-color: var(--color-primary, var(--color-bordeaux, #7a0038));
    color: white;
    --color-text-behind: #6e133a;
}

.bg-bordeaux {
    background-color: var(--color-bordeaux, #7a0038);
    color: white;
    --color-text-behind: #6e133a;
}

.bg-gray {
    --color-text-behind: #f3f3f3;
    background-color: var(--color-gray, #e8e8e8);

}

.bg-blue {
    background-color: var(--color-blue, #20234c);
    color: white;
}

[class*="bg-"] :is(h1, h2, h3, h4, h5, h6):first-of-type{
    margin-top: 0;
}

:is(.bg-primary, .bg-bordeaux, .bg-blue) :is(h1, h2, h3, h4, h5, h6) {
    color: inherit;
}

strong {
    font-weight: 700;
    /* ! debug */
    /* color: cornflowerblue !important; */
}


em {
    font-style: normal;
    font-weight: 700;
    color: var(--color-bordeaux, #7a0038);
    /* ! debug */
    /* color: violet !important; */
}

/* # UNDERLINES */
.underline{
    text-decoration: underline;
}

.hover-underline{
    text-decoration: none;
}

.hover-underline:hover{
    text-decoration: underline;
}

.underline-hover-none{
    text-decoration: underline;
}

.underline-hover-none:hover{
    text-decoration: none;
}

/* * Animated underline (transitions, multiline)  */
/* ! Multiline-underline may not work when flex child ?? */
.underline-animated {
  --underline-height: 2px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(currentColor, currentColor);
  background-position: left 100%;
  background-size: 100% var(--underline-height), 0 var(--underline-height);
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  transition-property: background-size;
}

.underline-animated:hover {
  background-size: 0 var(--underline-height), 100% var(--underline-height);
}

/* # HEADER */
header {
    position: relative;
    z-index: 999;
    overflow: visible;
}
.header__top {
    background-color: var(--color-primary);
    color: white;
    height: 3.5rem;
}
.header__top nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__hamburger {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:  36px;
    height: 36px;
    aspect-ratio: 1;
    display: none;
}
header menu {
    display: flex;
    align-items: stretch;
    justify-content: end;
    gap: 1.5rem;
    background-color: var(--color-primary);
}

header menu .logo {
    justify-self: start;
}

header a{
    display: block;
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.header__logo {
    flex: 0 0 auto;
    align-self: start;
    position: relative;
    z-index: 1;
    top: 1rem;
}

.header__logo .logo {
    width: 200px;
}

.header__bottom{
    background-color: #92989c;
    color: white;
    height: 2.75rem;
}

.header__bottom nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0 1.25rem;
    
}

@media screen and (max-width: 991px) {
    /* ! temp */
    header {
        /* overflow: clip; */
    }
    .header__hamburger{
        display: flex;
    }
    .header__logo .logo {
        width: auto;
        height: 60px;
    }
    header menu {
        flex-direction: column;
        position: absolute;
        gap: 0;
        right: 0;
        top: 3.5rem;
        translate: 0 -100%;
        width: 100%;
        padding-top: calc(60px - (56px - 1rem));
        padding-bottom: 0.5rem;
        z-index: -1;
        visibility: hidden;
        transition: translate 150ms, visibility 150ms;
        font-size: 0.875rem;
        backdrop-filter: brightness(0.5);
        background-color: color-mix(in srgb, var(--color-primary) 80%, black);
    }
    header menu.open {
        translate: 0 0;
        visibility: visible;
    }
    header menu li {
        /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    }
    header menu a {
        padding: 0.75em 35px;
    }
    .header__bottom {
        display: none;
    }
}


/* # LIST */
.list {
    --list-marker-img: none;
    --list-marker-size: 0px;
    --list-marker-gap: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    font-size: inherit;
    padding: 0rem;
    margin-top: 1rem;
    /* ? maybe ? */
    margin-left: 12px;
}

/* Nested list */
.list .list {
    row-gap: 0.25rem;
    margin-block: 0.25rem 0rem;
}

.list + .list {
    margin-top: 1.5rem;
}

.list > li{
    position: relative;
    min-height: var(--list-marker-size);
    align-content: center;
    padding-left: calc(var(--list-marker-size) + var(--list-marker-gap));
}

/* Default CSS marker */
.list > li::marker {
    color: var(--color-primary);
}

/* Custom marker */
.list > li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--list-marker-img);
    width:  var(--list-marker-size);
    height: var(--list-marker-size);
    align-self: start;
    flex: 0 0 auto;
}

/* Bullet points */
.bullet-points {
    --list-marker-gap: 0px;
    list-style-type: disc;
    padding-left: 1.75rem;
    margin-left: 0;
    row-gap: 0.5rem;
}

/* ? maybe redundant - it's size 0 anyway */
.bullet-points > li::before {
    content: none;
}

.check-marks {
    --list-marker-img: url('/img/check-mark-primary.svg');
    --list-marker-size: 1.5rem;
}

.check-marks.big {
    --list-marker-size: 2.5rem;
}

.pros {
    --list-marker-img: url('/img/check-mark-green.svg');
    --list-marker-size: 1.5rem;
}

.cons {
    --list-marker-img: url('/img/x-mark-dark-red.svg');
    --list-marker-size: 1.5rem;
}

/* Colored heading preceding list */
:is(h4):has(+.pros), .pros strong { color: var(--color-pros); }
:is(h4):has(+.cons), .cons strong { color: var(--color-cons); }



/* Trapezoid */
.trapezoid{
    counter-reset: counter-number;
    list-style-type: none;
    padding-left: 4.0rem;
    row-gap: 1rem;
}

.trapezoid > li{
    counter-increment: counter-number;
    position: relative;
    padding-left: 1.5rem;
}

.trapezoid > li::before{
    content: counter(counter-number);
    font-size: 1.75rem;
    background-color: var(--color-primary);
    position: absolute;
    left: auto;
    right: 100%;
    color: white;
    font-weight: 200;
    width: 3.5rem;
    height: 2.75rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0.25em 0.0em 0.25em 0.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.phallic {
    counter-reset: phallic;
    padding: 0;
}

.phallic > li {
    counter-increment: phallic;
    position: relative;
    background-color: white;
    color: black;
    border-radius: 2rem 0px 0px 2rem;
    padding: 0.75rem;
    padding-left: 4.5rem;
    min-height: 4rem;
    align-content: center;
    line-height: 1.15;
}

.phallic > li::before {
    content: counter(phallic);
    display: flex;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 1.5rem;
    width:  3rem;
    height: 3rem;
    aspect-ratio: 1;
    overflow: visible;
    right: auto;
    left: 0.5rem;
    top: 50%;
    translate: 0 -50%;
}

/** Letters Counter **/
/* ! todo - fix marker positioning, gap */
.counter-letters{
    counter-reset: counter-letters;
}

.counter-letters > li{
    counter-increment: counter-letters;
}

.counter-letters > li::before{
    content: counter(counter-letters, lower-alpha) ') ';
}

/** Alpha Counter **/
/* ! todo - fix marker positioning, gap */
.counter-alpha{
    counter-reset: counter-alpha;
}

.counter-alpha > li{
    counter-increment: counter-alpha;
}

.counter-alpha > li::before{
    content: counter(counter-alpha, lower-alpha);
    text-transform: uppercase;
}

.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
}

@media screen and (max-width: 767px) {
    .cols-2 {
        grid-template-columns: 1fr;
    }
}

.cols-2:has(h4) {
    margin-top: 1.75rem;
}

/* # TABLE */
.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}

table {
    color: black;
    width: 100%;
    table-layout: fixed;
    line-height: 1.15;
    background-color: #ececec;
    margin-bottom: 1.5rem;
    caption-side: bottom;
    /* ? MAYBE */
    /* word-break: break-word; */
}

th {
    font-weight: 700;
}
:is(td, th) {
    position: relative;
    /* ? maybe disable border-collapse ? */
    border: 2px solid white;
    padding: 0.5em 0.75em;
}

table caption {
    text-align: left;
    font-size: 0.875rem;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-top: 1rem;
}


@media screen and (min-width: 768px) {
    /* ? whatever name */
    .two-col-in-row {
        --two-col-in-row-gap: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        column-gap: var(--two-col-in-row-gap, 4%)
    }

    .two-col-in-row > * {
        flex: 1 1 calc(50% - var(--two-col-in-row-gap, 4%));
        width: calc(50% - var(--two-col-in-row-gap, 4%));;
        margin-block: 0;
    }
}

/* # MEMBERS */
.members{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 0.0rem 3vw;
    text-align: center;
    line-height: 1.15;
}

.member{
    width: 130px;
    margin-bottom: 1rem;
}

.member img{
    aspect-ratio: 4/3;
    margin-bottom: 0.5rem;
    margin-inline: auto;
}

/* ? maybe ? */
figcaption {
    line-height: 1.15;
    margin-top: 1rem;
    /* ! debug */
    /* color: limegreen !important; */
}

/** Condensed figcaption **/
figcaption small{
    line-height: 1.15;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    /* margin-top: 0.5rem; */
    /* text-align: center; */
    text-decoration: none;
    /* font-size: 0.875rem; */
}

figcaption a {
    font-weight: 700;
}


@media (max-width: 767px) {
    .members{
        flex-wrap: wrap;
    }
    .member{
        width: 100px;
        margin-bottom: 0;
    }
    .member img{
        margin-bottom: 0;
    }
}

.hr-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-block: 1.0rem;
    text-align: center;
}
.hr-text:before, 
.hr-text:after{
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    /* margin: auto; */
}

.banner-summit{
    display: block;
    max-width: 1000px;
    margin-inline: auto;
}

.wide-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
}



.hero{
    --hero-bg-overlay: linear-gradient(0deg, #c8d0d5eb 0%, #c8d0d5eb 100%);
    background: no-repeat center center/cover;
    background-image: var(--hero-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/bg-hero_3840.jpg');
    color: var(--color-primary);
    position: relative;
    padding: 80px 0 56px;
    overflow: visible;
    isolation: isolate;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.375rem;
    line-height: 1.25;
    height: 100%;
    justify-content: center;
}

.hero .logo{
    width: 225px;
}

@media screen and (max-width: 767px) {
    .hero {
        padding-top: 42px;
    }
    /* .hero__content{
        padding-top: 1.5rem;
        gap: 2.5rem;
    }   */
}

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

/** two layers - bg + fg - multiply blend **/
.hero.composite{
    --hero-bg: url('/img/backgrounds/bg-hero-wall_3300.jpg');
    /** Transparent fallback if no fg given **/
    --hero-fg: linear-gradient(0deg, transparent 0%, transparent 100%);
    background-position: calc(50vw - 200px) center, center;
    background-image: var(--hero-fg), var(--hero-bg);
    background-size: auto 100%, cover;
    background-blend-mode: multiply, normal;
    background-repeat: no-repeat;
    height: 600px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .hero.composite {
        height: 450px;
        background-size: auto 350px, cover;
        background-position: calc(50vw - 200px) 100%, center;
    }
    .hero.composite .hero__content {
        padding-block: 38px;
        justify-content: start;
        /* text-align: center; */
    }
}

.hero h1 {
    max-width: 45rem;
    font-weight: 300;
}

/* ! temp testing */
.composite h1 {
    max-width: 550px;
}
.composite h1 br {
    display: none;
}


.showcases{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 270px), 1fr));
    align-items: baseline;
    gap: 1rem;
    justify-items: center;
}

/* iOS fix: baseline breaks first row's height (appleee!) */
@supports (-webkit-touch-callout: none) {
    .showcase {
        align-items: center;
    }
}

.showcases__row{
    position: relative;
}

.showcases__row:not(:first-child)::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    bottom: calc(100% + 2rem);
    display: block;
}

.showcase__item{
    
}

.showcase__item img {
    width: 100%;
    object-fit: contain;
    margin-inline: auto;
}

article.wall {
    --color-text-behind: #fefefe;
    background: no-repeat center center/cover;
    background-image: var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
    font-size: 18px;
    line-height: 1.25;
    margin-block: 1.5rem;
    padding: 1.5rem min(2.5rem, 5%);
    position: relative;
    isolation: isolate;
}

.wall-headings {
    counter-reset: headings;
}

.wall-headings h3 {
    counter-increment: headings;
    --color-text-behind: #fefefe;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
    padding: 1.0rem min(1.5rem, 5%);
    position: relative;
    isolation: isolate;
    /** i hate this, but what comes next is worse **/
    display: flex;
    align-items: center;
    flex-direction: row;
}

.wall-headings h3::before {
    content: counter(headings);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-primary);
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    line-height: 1;
    height: 1.5em;
    margin-right: min(1.5rem, 5%);
    padding: 0 0.4em 0 0.75em;
    white-space: nowrap;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0.4em 100%);
    /* ? maybe ? */
    /* align-self: start; */
}

@media screen and (max-width: 767px) {
    .wall-headings h3 {
        display: block;
    }
    .wall-headings h3::before {
        font-size: 2.25rem;
        margin-left: -0.333em;
        margin-right: 1rem;
        /* align-self: start; */
        /** i hate that i have to do this, but the devil will understand **/
        float: left;
    }
}

/* Red bg block */
:is(h1, h2, h3, h4, h5, h6).em {
    color: white;
    background-color: var(--color-primary);
    padding: 0.55em 0.9em;
    width: fit-content;
}

footer{
    padding-block: 1.5rem;
    background-color: #93989c;
    color: white;
}

.footer__content{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem min(2.5rem, 5%);
}

footer .logo{
    width: 100px;
}

.footer__body a {
    text-decoration:underline;
}
.footer__body a:hover {
    text-decoration:none;
}

@media screen and (min-width: 992px) {
    footer{
        margin-top: 3.5rem;
    }
    footer .logo{
        width: 200px;
        position: relative;
        margin-top: -98px;
    }    
}

.banner-form {
    background-image: url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/bg-form-banner.png'), var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
    background-repeat: no-repeat;
    background-position: right center, center, center;
    background-size: auto 300px, cover, cover;
    padding: 2rem min(2.5rem, 5%);
}

.banner-form h2 {
    max-width: 25rem;
}

.banner-form .btn {
    margin-top: 1rem;
}

@media screen and (max-width: 991px) {
    .banner-form {
        background-size: contain, cover, cover;
    }
}

@media screen and (max-width: 767px) {
    .banner-form {
        background-image: var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
    }
    .banner-form h2 {
        max-width: unset;
    }
}

blockquote,
.quote {
    background: no-repeat center center/cover;
    background-image: var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
    line-height: 1.25;
    /* ! figure out text coloring */
    /* color: var(--color-primary); */
    /* color: var(--color-near-black, #070707); */
    /* font-weight: 550; */
    font-style: normal;
    margin-block: 1.75rem;
    padding: 1.5rem min(2.5rem, 5%);
    position: relative;
    /* Left 'border' */
    box-shadow: inset 4px 0px 0px 0px var(--color-primary);
}

@media screen and (min-width: 992px) {
    blockquote,
    .quote {
        /* font-size: 1.125rem; */
    }
}


.magazine {
    background-color: #e8e8e8;
    padding-inline: min(50px, 5%);
}


.magazine iframe {
    border: none;
    width: 100%;
    height: 700px;
    max-height: 75vh;
}

.magazine__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0.5rem min(2rem, 5%);
    padding-block: 1.5rem;
}

@media screen and (max-width: 767px) {
    .magazine__buttons {
        grid-template-columns: 1fr;
    }
}

.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 5.5rem min(2.5rem, 5%) 2.5rem;
    margin-top: 2rem;
    background: no-repeat center center / cover;
    position: relative;
}

.types h3 {
    position: absolute;
    top: 0;
    left: min(2.5rem, 5%);
    translate: 0 -50%;
    max-width: 90%;
}

.types figure figcaption {
    position: absolute;
    font-size: 1.125rem;
    background-color: var(--color-primary);
    top: -8px;
    left: -8px;
    margin: 0;
    color: white;
    font-family: inherit;
    padding: 0.4em 1.25em 0.4em 0.75em;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 0.666em) 100%, 0% 100%);
}

.types--one {
    background-image: var(--wall-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/texture-wall_2000.jpg');
}

.types--two {
    border: 1px solid var(--color-primary, #7a0038);
}

@media screen and (max-width: 767px) {
    .types {
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
}

.alternator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2.5rem 0;
    padding-inline: min(2.5rem, 5%);
    /* ! debug */
    /* background: red; */
}

/** Alternating - only on desktop **/
@media screen and (min-width: 992px) {
    .alternator > :nth-child(odd) {
        align-self: start;
    }
    .alternator > :nth-child(even) {
        align-self: end;
        flex-direction: row-reverse;
    }
}

.alternator figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* ? maybe */
    gap: 16px;
    flex-wrap: wrap-reverse;
}

.alternator img {
    /* ? dial-in the values */
    max-height: 400px;
    max-width: min(550px, 100%);
}

.bw {
    filter: saturate(0);
}

/** HIDE Chat **/
#smartsupp-widget-container {
    display: none !important;
}

html:has(dialog[open]),
html:has([data-custom-dialog][open]:not([open="false"])) {
    overflow: hidden;
}

/* custom dialog that isn't open, or open="false" */
[data-custom-dialog]:is(:not([open]), [open="false"]) {
    display: none !important;
}

/** DIALOG REWRITE **/
[data-custom-dialog] {
    position: fixed;
    inset: 0;
    z-index: 99;
    /* backdrop */
    background-color: rgba(0, 0, 0, 0.2);
  }

dialog::backdrop,
dialog::-webkit-backdrop {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.dialog-close {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 2.75rem;
    height: 2.5rem;
    color: black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/** Fixes fancybox slide 0px size **/
.fancybox__slide.has-image>.fancybox__content {
    width: 100% !important;
    height: 100% !important;
}


/* ! TEMP */
/* ! TYPOGRAPHY ADJUSTMENTS TESTING */
* {
    /* font-family: 'Inter', 'Poppins', 'Roboto', 'Arial', sans-serif !important; */
}
h6 {
    font-size: calc(1rem * pow(1.20, 1));
    font-size: 20px;
    margin-top: 1.25rem;
    /* color: yellow !important; */
}
h5 {
    font-size: calc(1rem * pow(1.20, 2));
    font-size: 24px;
    margin-top: 1.5rem;
    /* color: magenta !important; */
}
h4 {
    font-size: calc(1rem * pow(1.20, 3));
    font-size: 28px;
    /* color: cyan !important; */
}
h3 {
    font-size: calc(1rem * pow(1.20, 4));
    font-size: 34px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
    /* color: blue !important; */
}
h2 {
    font-size: calc(1rem * pow(1.20, 5));
    font-size: 40px;
    /* color: green !important; */
}
h1 {
    font-size: calc(1rem * pow(1.20, 6));
    font-size: 48px;
    font-weight: 800;
    /* color: red !important; */
}

@media screen and (max-width: 767px) {
    h6 {
        font-size: calc(1rem * pow(1.15, 1));
        font-size: 18px;
    }
    h5 {
        font-size: calc(1rem * pow(1.15, 2));
        font-size: 20px;
    }
    h4 {
        font-size: calc(1rem * pow(1.15, 3));
        font-size: 22px;
    }
    h3 {
        font-size: calc(1rem * pow(1.15, 4));
        font-size: 24px;
    }
    h2 {
        font-size: calc(1rem * pow(1.15, 5));
        font-size: 30px;
    }
    h1 {
        font-size: calc(1rem * pow(1.15, 6));
        font-size: 38px;
    }
}