/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Exo 2 Condensed */
@import url('https://fonts.cdnfonts.com/css/exo-2-medium-condensed');

/* Archia */
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Thin.otf') format("opentype");
    font-weight: 100;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Light.otf') format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Regular.otf') format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Medium.otf') format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-Bold.otf') format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'Archia';
    src: url('https://www.central-group.cz/storage/IDB/fonts/Archia-SemiBold.otf') format("opentype");
    font-weight: 600;
}

:root {
    /** COLORS **/
    /* Brand */
    --color-yellow: #ffed00;
    --color-bordeaux: #7a0038;
    --color-blue: #20234c;
    --color-blue-dark: #0e1237;
    /* Grays */
    --color-gray: #e8e8e8;
    --color-gray-dark: #4D4D4D;
    --color-text-behind: #f0f1f2;
    --color-near-black: #070707;
    /* Theme */
    --color-primary: var(--color-bordeaux, #7a0038);
    --color-secondary: #a26578;
    --color-tertiary: #ffffff;
    /* Layout */
    --color-pros: #134013;
    --color-cons: var(--color-bordeaux, #7a0038);

    --font-size-text-behind: 9rem;
    --wall-bg-overlay: linear-gradient(0deg, #ffffffb3 0%, #ffffffb3 100%);

    /** Non-variables **/
    accent-color: var(--color-primary, var(--color-bordeaux, #7a0038));
    interpolate-size: allow-keywords;
}


/* # RESET / NORMALIZE */
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:focus-visible {
    outline: 3px solid #56b6ffc0;
    outline-offset: 0px;
    /* border: none; */
    /* border-radius: inherit; */
}

html {
    scroll-behavior: smooth;
}

[hidden] {
    display: none !important;
}

table {
    border-collapse: collapse;
    border: none;
}

dt, dd {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: none;
}

:where(main :is(p, li)) > a {
    color: var(--color-primary);
    font-weight: 700;
}

:where(main :is(p, li)) > a:hover{
    text-decoration: underline;
}

small {
    font-size: 80%;
}

dialog {
    margin: auto;
    border: none;
}

ul,
ol,
menu {
    list-style-type: none;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
    -webkit-user-select: none;
    user-select: none;
    font-style: italic;
}

figure {
    position: relative;
    margin: 0;
}

/* Prevent <sub> and <sup> elements from affecting the line height */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

textarea {
    max-width: 100%;
    font-size: inherit;
    font-family: inherit;
}

textarea:focus-visible {
    outline: none;
}

input {
    font-family: inherit;
}

/* Note: <strong> will use inherited current color */
strong {
    font-weight: 700;
}

/* Note: <em> will always use primary */
em {
    font-style: normal;
    font-weight: 700;
    color: var(--color-primary, var(--color-bordeaux, #7a0038));
    /* ? maybe */
    /* color: var(--color-bordeaux, #7a0038); */
}

b {
    font-weight: 800;
}

label {
    -webkit-user-select: none;
    user-select: none;
}

dl {
    margin: initial;
}

/** Details open transition **/
details {
    overflow: hidden;
}
details::details-content {
    block-size: 0;
    transition-property: block-size, content-visibility;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

details:open::details-content {
    block-size: auto;
}


.container {
    max-width: 1140px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}

.container-lg {
    max-width: 960px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}
.container-md {
    max-width: 720px;
    padding-inline: 15px;
    margin-inline: auto;
    height: 100%;
}

.container--breakout {
    margin-left: calc((100vw - 100% - 0px)* -1 / 2);
    width: calc(100vw - 0px);
}

body {
    font-family: 'Exo 2', sans-serif;
    /* color: var(--color-gray-dark); */
    color: var(--color-near-black, #070707);
    line-height: 1.5;
    overflow-x: hidden;
    overflow-x: clip;
}

/* # BTN */
.btn {
    --btn-theme: transparent;
    --btn-theme-complementary: var(--color-primary);
    --btn-border-radius: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    align-items: center;
    appearance: none;
    background: var(--btn-theme, transparent);
    border-radius: var(--btn-border-radius, 6px);
    border: none;
    color: var(--btn-theme-complementary);
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    gap: 0 0.6em;
    isolation: isolate;
    justify-content: center;
    line-height: 1.1;
    min-height: 2.5rem;
    overflow: hidden;
    overflow: clip;
    padding: 0.5em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 150ms;
    user-select: none;
    vertical-align: middle;
    white-space: initial;
    width: fit-content;
    z-index: 0;

    /* Not ugly design */
    /* --btn-border-radius: 0.45em; */
    /* font-size: 0.875rem; */
    /* padding: 0.8em 1.25em; */
    /* font-weight: 500; */
    /* text-transform: none; */
  }
  
/** Btn Hover styling **/
/* Note: :is() does not select pseudo-elements -> :is(::before, ::after) won't work */
.btn::before,
.btn::after {
    background: currentColor;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center 0px;
    transition-duration: 200ms;
    transition-property: transform, opacity, height, color;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    width: 100%;
}
  
.btn::before {
    z-index: -1;
}
  
.btn:not(.disabled, :disabled, .outline):hover::after {
    opacity: 0.075;
}
  
/** Colors **/
.btn[class*="--yellow"] {
    --btn-theme: var(--color-yellow, #ffed00);
    --btn-theme-complementary: var(--color-blue, #20234c);
}
  
.btn[class*="--blue"] {
    --btn-theme: var(--color-blue, #20234c);
    --btn-theme-complementary: #fff;
}
  
.btn[class*="--white"] {
    --btn-theme: white;
    --btn-theme-complementary: var(--color-primary, var(--color-blue, #20234c));
}
  
.btn[class*="--black"] {
    --btn-theme: black;
    --btn-theme-complementary: white;
}
  
.btn[class*="--gray-dark"] {
    --btn-theme: var(--color-gray-dark, #4D4D4D);
    --btn-theme-complementary: white;
}
  
.btn[class*="--primary"] {
    --btn-theme: var(--color-primary);
    --btn-theme-complementary: #fff;
}
  
.btn[class*="--secondary"] {
    --btn-theme: var(--color-secondary);
    --btn-theme-complementary: var(--color-primary);
}
  
.btn[class*="--tertiary"] {
    --btn-theme: var(--color-tertiary);
    --btn-theme-complementary: var(--color-primary);
}
  
/** Inline **/
.btn[class*="--inline"] {
    display: inline-flex;
}
  
/** Full width **/
.btn[class*="--fill"] {
    width: 100%;
}
  
/** Rounded  **/
.btn[class*="--rounded"] {
    --btn-border-radius: 999px;
}
  
/** Rounded  **/
.btn[class*="--sharp"] {
    --btn-border-radius: 0px;
}
  
/** Outline  **/
.btn[class*="--outline"] {
    background: transparent;
    color: var(--btn-theme);
    border: 1px solid var(--btn-theme);
}
  
/** Outline Fill on hover  **/
.btn[class*="--outline-fill"]:hover {
    background: var(--btn-theme);
    color: var(--btn-theme-complementary);
}
  
/** Ghost **/
.btn[class*="--ghost"] {
    background: transparent;
    color: var(--btn-theme);
}
  
  /** Transparent **/
.btn[class*="--transparent"] {
    background: transparent;
    color: var(--btn-theme);
}
  
.btn[class*="--transparent"]::before,
.btn[class*="--transparent"]::after {
    background: transparent;
}

/* # HEADINGS */
:is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-primary, #7a0038);
    position: relative;
    line-height: 1.0;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1.5em;
}

h1 {
    font-size: 3.25rem;
    font-weight: 800;
    line-height: 1.10;
    word-break: break-word;
    text-wrap: balance;
    gap: 1.5rem;
    /* color: red !important; */
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    /* color: green !important; */
}

h3 {
    font-size: 2rem;
    /* color: blue !important; */
}

h4 {
    font-size: 1.75rem;
    /* color: cyan !important; */
}

h5 {
    font-size: 1.5rem;
    /* color: magenta !important; */
}

h6 {
    font-size: 1.25rem;
    /* color: yellow !important; */
}

/** HEADINGS MOBILE QUERIES **/
@media (max-width: 767px) {
    :root {
        --font-size-text-behind: 4.5rem;
    }
    h1 {
        font-size: 2.375rem;
    }
    h2 {
        font-size: 1.875rem
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.375rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1.125rem;
    }
}

:is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
}
:is(h1, h2, h3, h4, h5, h6):last-child {
    margin-bottom: 0;
}

:is(h1, h2, h3, h4, h5, h6) b {
    font-size: 1.6em;
    vertical-align: sub;
}
:is(h1, h2, h3, h4, h5, h6) small {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.001em;
    display: block;
    margin-block: 0.5rem;
}

:is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
}

h1 strong {
    font-weight: 800;
}

/* Red bg block */
:is(h1, h2, h3, h4, h5, h6).em {
    color: white;
    background-color: var(--color-primary);
    padding: 0.55em 0.9em;
    width: fit-content;
}

/**  text-behind **/
/* TODO: Refactor text-behind positioning */
[data-text-behind]:not([data-text-behind=""]) {
    position: relative;
    display: block;
    /** Calc explanation: Difference in text-behind size and primary text size, half that and +- offset **/
    /* Note: 0.7 compensates for reduced line-height */
    /* Note: Positioning breaks when primary text larger than text behind (>9rem) */
    padding-top: calc(((var(--font-size-text-behind, 9rem) * 0.7 - 1em) / 2) + 0.5rem);
    /* Note: Height at least text-behind */
    min-height: calc(var(--font-size-text-behind, 9rem) * 0.7);
}

[data-text-behind]:not([data-text-behind=""])::before {
    content: attr(data-text-behind);
    color: var(--color-text-behind);
    position: absolute;
    top: 0;
    translate: -40px 0;
    font-size: var(--font-size-text-behind, 9rem);
    font-weight: 700;
    line-height: 0.7;
    white-space: nowrap;
    z-index: -1;
}

@media screen and (max-width: 1199px) {
    [data-text-behind]:not([data-text-behind=""])::before {
        translate: -15px 0;
    }
}


p {
    margin-block: 1rem;
    text-wrap: pretty;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}


hr {
    height: 1px;
    /* background-color: var(--color-primary);    */
    background-color: currentColor;
    border: none;
    margin-block: 1.5rem;
}

.perex {
    font-size: 1.125rem;
    font-weight: 550;
    color: var(--color-near-black);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.contacts {
    display: flex;
    gap: 0.25rem 1rem;
    align-items: center;
}

.contacts--footer {
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .contacts--header .label {
        display: none;
    }
}



/* # SECTIONS */
section {
    position: relative;
    overflow-x: hidden;
    overflow-x: clip;
    scroll-margin-top: 5.0rem;
    margin-block: 5.0rem;
}

/* Subsequent transparent sections */
/* Note: Avoid duplicating visual gap (padding) between transparent sections */
section:not([class*="bg-"])+section:not([class*="bg-"]) {
    /* ! temp off */
    /* padding-top: 0; */
}

/* Section with bg */
section:where([class*="bg-"]) {
    margin-block: 0;
    padding-block: 3rem;
}


/** Sub-sections **/
section section {
    overflow: visible;
    margin-block: 3.0rem;
}

@media (max-width: 991px) {
    section {
        margin-block: 3.5rem;
    }
    section section {
        margin-block: 2.5rem;
    }
}

/** Section colors **/
.bg-primary {
    background-color: var(--color-primary, var(--color-bordeaux, #7a0038));
    color: white;
    --color-text-behind: #6e133a;
}

.bg-bordeaux {
    background-color: var(--color-bordeaux, #7a0038);
    color: white;
    --color-text-behind: #6e133a;
}

.bg-gray {
    --color-text-behind: #f3f3f3;
    background-color: var(--color-gray, #e8e8e8);

}

.bg-blue {
    background-color: var(--color-blue, #20234c);
    color: white;
}

[class*="bg-"] :is(h1, h2, h3, h4, h5, h6):first-of-type {
    margin-top: 0;
}

:is(.bg-primary, .bg-bordeaux, .bg-blue) :is(h1, h2, h3, h4, h5, h6) {
    color: inherit;
}


/* # UNDERLINES */
.underline {
    text-decoration: underline;
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.underline-hover-none {
    text-decoration: underline;
}

.underline-hover-none:hover {
    text-decoration: none;
}

/* * Animated underline (transitions, multiline)  */
/* ! Multiline-underline may not work when flex child */
.underline-animated {
  --underline-height: 2px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(currentColor, currentColor);
  background-position: left 100%;
  background-size: 100% var(--underline-height), 0 var(--underline-height);
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  transition-property: background-size;
}

.underline-animated:hover {
  background-size: 0 var(--underline-height), 100% var(--underline-height);
}

/* # HEADER */
header {
    position: relative;
    z-index: 999;
    overflow: visible;
}
.header__top {
    background-color: var(--color-primary);
    color: white;
    height: 3.5rem;
}
.header__top nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__hamburger {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:  36px;
    height: 36px;
    aspect-ratio: 1;
    display: none;
}
header menu {
    display: flex;
    align-items: stretch;
    justify-content: end;
    gap: 1.5rem;
    background-color: var(--color-primary);
}

header menu .logo {
    justify-self: start;
}

header a {
    display: block;
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.logo__wrapper {
    display: block;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
}

.logo {
    height: 110px
}

header .logo__wrapper {
  align-self: start;
  top: 1rem;
}

.header__bottom {
    background-color: #92989c;
    color: white;
    height: 2.75rem;
}

.header__bottom nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0 1.25rem;
    
}

@media screen and (max-width: 991px) {
    .header__hamburger {
        display: flex;
    }
    .logo {
        height: 60px;
    }
    header menu {
        flex-direction: column;
        position: absolute;
        gap: 0;
        right: 0;
        top: 3.5rem;
        translate: 0 -100%;
        width: 100%;
        padding-top: calc(60px - (56px - 1rem));
        padding-bottom: 0.5rem;
        z-index: -1;
        visibility: hidden;
        transition: translate 150ms, visibility 150ms;
        font-size: 0.875rem;
        backdrop-filter: brightness(0.5);
        background-color: color-mix(in srgb, var(--color-primary) 80%, black);
    }
    header menu.open {
        translate: 0 0;
        visibility: visible;
    }
    header menu li {
        /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    }
    header menu a {
        padding: 0.75em 35px;
    }
    .header__bottom {
        display: none;
    }
}


/* # LIST */
.list {
    --list-marker-color: transparent;
    --list-marker-gap: 1rem;
    --list-marker-img: none;
    --list-marker-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    font-size: inherit;
    padding: 0rem;
    margin-left: min(12px, 1%);
}

/* Nested list */
.list .list {
    row-gap: 0.5rem;
    margin-block: 0.5rem 0rem;
}

.list + .list {
    /* margin-top: 1.5rem; */
}

.list > li {
    position: relative;
    min-height: var(--list-marker-size);
    align-content: center;
    padding-left: calc(var(--list-marker-size) + var(--list-marker-gap));
}

/* Default CSS marker */
.list > li::marker {
    color: var(--color-primary);
}

/* Custom marker */
/* Note: By default: Use --list-marker-img as background-image */
.list > li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: var(--list-marker-img);
    width:  var(--list-marker-size);
    height: var(--list-marker-size);
    align-self: start;
    flex: 0 0 auto;
    mask-image: none;
    mask-size: contain;
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
}

/* Bullet points */
.bullet-points {
    --list-marker-gap: 0px;
    --list-marker-size: 0px;
    list-style-type: disc;
    padding-left: 1.75rem;
    margin-left: 0;
    row-gap: 0.5rem;
}


.bullet-points > li::before {
    content: none;
    display: none;
}

/* Note: On selected lists: Use --list-marker-img as mask */
@supports (mask: url('mask.svg')) {
    :is(.check-marks, .pros, .cons) li::before {
        background: var(--list-marker-color);
        mask-image: var(--list-marker-img);
    }
}

.check-marks {
    --list-marker-color: var(--color-primary);
    --list-marker-img: url('../../img/check-mark-primary.svg');
}

.check-marks.big {
    --list-marker-size: 2.5rem;
}

.pros {
    --list-marker-color: var(--color-pros);
    --list-marker-img: url('../../img/check-mark-green.svg');
}

.cons {
    --list-marker-color: var(--color-cons);
    --list-marker-img: url('../../img/x-mark-dark-red.svg');
}

/* Color heading preceding pros/cons list */
:is(h4):has(+.pros), .pros strong { color: var(--color-pros); }
:is(h4):has(+.cons), .cons strong { color: var(--color-cons); }


/* Trapezoid */
.trapezoid {
    counter-reset: counter-number;
    list-style-type: none;
    padding-left: 3.0rem;
    margin-left: 0;
    row-gap: 1.5rem;
}

.trapezoid > li {
    counter-increment: counter-number;
    position: relative;
    padding-left: min(1.5rem, 5%);
}

.trapezoid > li::before {
    content: counter(counter-number);
    font-size: 1.75rem;
    background-color: var(--color-primary);
    position: absolute;
    left: auto;
    right: 100%;
    color: white;
    font-weight: 200;
    width: 3.5rem;
    height: 2.75rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0.25em 0.0em 0.25em 0.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.semi-pill {
    counter-reset: semi-pill;
    padding: 0;
    margin: 0;
}

.semi-pill > li {
    counter-increment: semi-pill;
    position: relative;
    background-color: white;
    color: black;
    border-radius: 2rem 0px 0px 2rem;
    padding: 0.75rem;
    padding-left: 4.5rem;
    min-height: 4rem;
    align-content: center;
    line-height: 1.15;
}

.semi-pill > li::before {
    content: counter(semi-pill);
    display: flex;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    font-size: 1.5rem;
    width:  3rem;
    height: 3rem;
    aspect-ratio: 1;
    overflow: visible;
    right: auto;
    left: 0.5rem;
    top: 50%;
    translate: 0 -50%;
}

/** Letters Counter **/
.counter-letters {
    counter-reset: counter-letters;
}

.counter-letters > li {
    counter-increment: counter-letters;
}

.counter-letters > li::before {
    content: counter(counter-letters, lower-alpha) ') ';
}

/** Alpha Counter **/
.counter-alpha {
    counter-reset: counter-alpha;
}

.counter-alpha > li {
    counter-increment: counter-alpha;
}

.counter-alpha > li::before {
    content: counter(counter-alpha, lower-alpha);
    text-transform: uppercase;
}

.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.cols-2.center {
    align-items: center;
}

@media screen and (max-width: 767px) {
    .cols-2 {
        grid-template-columns: 1fr;
    }
}

/* # TABLE */
.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 2rem;
}

table {
    color: black;
    line-height: 1.15;
    background-color: #ececec;
    margin: 0;
    caption-side: bottom;
}

table.fixed {
    table-layout: fixed;
    width: 100%;
}

table.baseline tbody :is(td, th) {
    vertical-align: baseline;
}

th {
    font-weight: 700;
}
:is(td, th) {
    position: relative;
    /* ? maybe use "border-collapse: separate" instead*/
    border: 2px solid white;
    padding: 0.5em 0.75em;
}

table caption {
    text-align: left;
    font-size: 0.875rem;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-top: 1rem;
}


@media screen and (min-width: 768px) {
    /* ? whatever name */
    .two-col-in-row {
        --two-col-in-row-gap: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        column-gap: var(--two-col-in-row-gap, 4%)
    }

    .two-col-in-row > * {
        flex: 1 1 calc(50% - var(--two-col-in-row-gap, 4%));
        width: calc(50% - var(--two-col-in-row-gap, 4%));
        margin-block: 0;
    }
}

/* # MEMBERS */
.members {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 0.0rem 3vw;
    text-align: center;
    line-height: 1.15;
}

.member {
    width: 130px;
}

.member img {
    aspect-ratio: 4/3;
    margin-inline: auto;
}

figcaption {
    line-height: 1.15;
    margin-block: 1rem;
}

/** Condensed figcaption **/
figcaption small {
    line-height: 1.15;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    text-decoration: none;
}

figcaption a {
    font-weight: 700;
}


@media (max-width: 767px) {
    .members {
        flex-wrap: wrap;
    }
    .member {
        width: 100px;
    }
}

hr[data-text]::before {
    content: attr(data-text);
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    background-color: white;
    padding-inline: 10px;
}

hr,
.hr-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Exo 2 Condensed', 'Exo 2', 'Roboto', sans-serif;
    margin-block: 1.0rem;
    text-align: center;
    line-height: 1;
}
.hr-text:before, 
.hr-text:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    /* margin: auto; */
}

.banner-summit {
    display: block;
    max-width: 1000px;
    margin-inline: auto;
}

.wide-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
}


/* # HERO */
.hero {
    --hero-bg-overlay: linear-gradient(0deg, #c8d0d5eb 0%, #c8d0d5eb 100%);
    background: no-repeat center center/cover;
    background-image: var(--hero-bg-overlay), url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/bg-hero_3840.jpg');
    color: var(--color-primary);
    position: relative;
    height: 600px;
    padding: 80px 0 56px;
    overflow: visible;
    isolation: isolate;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.375rem;
    line-height: 1.25;
    height: 100%;
    justify-content: center;
}

.hero.composite {
    /* Note: This is a transparent default 'image'. It needs to be a gradient to be considered an 'image', can't be a 'color' */
    --hero-fg: linear-gradient(0deg, transparent 0%, transparent 100%);
    --hero-bg: url('../../img/backgrounds/bg-hero-wall_3300.jpg');
    background-position: calc(50vw - 200px) center, center;
    background-image: var(--hero-fg), var(--hero-bg);
    background-size: auto 100%, cover;
    background-blend-mode: multiply, normal;
    background-repeat: no-repeat;
    padding: 0;
}

.hero h1 {
    max-width: 45rem;
    font-weight: 300;
}

/* ? maybe keep */
.composite h1 { max-width: 520px; }
.composite h1 br { display: none; }

.hero__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

@media screen and (max-width: 991px) {
    .hero.composite {
        height: 450px;
        background-size: auto 450px, cover;
        background-position: calc(100% + 175px) 100%, center;
    }
}

@media screen and (max-width: 767px) {
    .hero {
        height: auto;
        padding-top: 42px;
    }
    .hero.composite {
        height: 450px;
        background-size: auto 350px, cover;
        background-position: calc(50vw - 200px) 100%, center;
    }
    .hero.composite .hero__content {
        padding-block: 38px;
        justify-content: start;
    }
}

.showcases {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.showcases__row {
    position: relative;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 270px), 1fr));
    align-items: baseline;
    gap: 1rem;
    justify-items: center;
}

.showcase+.showcase {
    margin-top: 3rem;
}

/* iOS fix: baseline breaks first row's height */
@supports (-webkit-touch-callout: none) {
    .showcase {
        align-items: center;
    }
}

.showcase.center {
    align-items: stretch;
}


/** Line separator **/
/* .showcases__row:not(:first-child)::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    bottom: calc(100% + 2rem);
    display: block;
} */

.showcase__item {
    display: flex;
    flex-direction: column;
}

.showcase__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
    flex: 1;
}

.wall {
    --color-text-behind: #fefefe;
    background: no-repeat center center/cover;
    background-image: url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
    /* margin-block: 1.5rem; */
    padding: 1.5rem min(2.5rem, 5%);
    position: relative;
    isolation: isolate;
}

.wall-headings {
    counter-reset: headings;
}

.wall-headings h3 {
    counter-increment: headings;
    --color-text-behind: #fefefe;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
    padding: 1.0rem min(1.5rem, 5%);
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.wall-headings h3::before {
    content: counter(headings);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color-primary);
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    line-height: 1;
    height: 1.5em;
    margin-right: min(1.5rem, 5%);
    padding: 0 0.4em 0 0.75em;
    white-space: nowrap;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0.4em 100%);
}

@media screen and (max-width: 767px) {
    .wall-headings h3 {
        /* display: block; */
    }
    .wall-headings h3::before {
        font-size: 2.0rem;
        margin-left: -0.333em;
        margin-right: 1rem;
        align-self: start;
        /* float: left; */
    }
}


footer {
    padding-block: 1.5rem;
    background-color: #93989c;
    color: white;
}

.footer__content {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem min(2.5rem, 5%);
}

.footer__body a {
    text-decoration: underline;
}
.footer__body a:hover {
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    footer {
        margin-top: 74px;
    }
    footer .logo__wrapper {
        position: relative;
        margin-top: -86px;
    }    
}

.banner-form {
    background-image: url('https://iniciativa-bydleni.cz/storage/IDB/img/backgrounds/bg-form-banner.png'), url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
    background-repeat: no-repeat;
    background-position: right center, center;
    background-size: auto 300px, cover;
    padding: 2rem min(2.5rem, 5%);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.0rem;
}

.banner-form h2 {
    max-width: 25rem;
}

.banner-form .btn {
    /* margin-top: 1rem; */
}

@media screen and (max-width: 991px) {
    .banner-form {
        background-size: contain, cover;
    }
}

@media screen and (max-width: 767px) {
    .banner-form {
        background-image: url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
        background-size: cover;
    }
    .banner-form h2 {
        max-width: unset;
    }
}

blockquote,
.quote {
    background: no-repeat center center/cover;
    background-image: url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
    line-height: 1.25;
    font-style: normal;
    margin-block: 1.75rem;
    padding: 1.5rem min(2.5rem, 5%);
    position: relative;
    /* Left 'border' */
    box-shadow: inset 4px 0px 0px 0px var(--color-primary);
}

@media screen and (min-width: 992px) {
    blockquote,
    .quote {
        /* font-size: 1.125rem; */
    }
}


.magazine {
    background-color: #e8e8e8;
    padding: 1.5rem min(2.5rem, 5%);
    isolation: isolate;
}


.magazine iframe {
    border: none;
    width: 100%;
    height: 700px;
    max-height: 75vh;
    margin: 1.5rem auto;
}

.magazine__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0.5rem min(2rem, 5%);
}

@media screen and (max-width: 767px) {
    .magazine__buttons {
        grid-template-columns: 1fr;
    }
}

.types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    padding: 5.5rem min(2.5rem, 5%) 2.5rem;
    background: no-repeat center center / cover;
    position: relative;
}

.types h3 {
    position: absolute;
    top: 0;
    left: min(2.5rem, 5%);
    translate: 0 -50%;
    max-width: 90%;
    z-index: 1;
}

.types figure figcaption {
    position: absolute;
    font-size: 1.125rem;
    background-color: var(--color-primary);
    top: -8px;
    left: -8px;
    /* margin: 0; */
    color: white;
    font-family: inherit;
    padding: 0.4em 1.25em 0.4em 0.75em;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 0.666em) 100%, 0% 100%);
}

.types--one {
    background-image: url('../../img/backgrounds/texture-wall-lighter_2000.jpg');
}

.types--two {
    border: 1px solid var(--color-primary, #7a0038);
}

@media screen and (max-width: 767px) {
    .types {
        grid-template-columns: 1fr;
        /* margin-top: 3rem; */
    }
}

.alternator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2.5rem 0;
    padding-inline: min(2.5rem, 5%);
}

/** Alternating - only on desktop **/
@media screen and (min-width: 992px) {
    .alternator > :nth-child(odd) {
        align-self: start;
    }
    .alternator > :nth-child(even) {
        align-self: end;
        flex-direction: row-reverse;
    }
}

.alternator figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap-reverse;
}

.alternator img {
    max-height: 400px;
    max-width: min(550px, 100%);
}

.bw {
    filter: saturate(0);
}

.centered {
    text-align: center;
    margin-inline: auto;
}

.img-large,
.img-large img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-size: cover;
    margin: 2rem auto;
}

.img-thumbnail {
    padding: 8px;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    /* border-radius: 8px; */
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 992px) {
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
}

/* Source: https://css-generators.com/ribbon-shapes/ */
.ribbon {
    --f: 0px; /* fold */
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #e50514;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.8;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51%/var(--f);
    clip-path: polygon(100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    z-index: 1;
    /* Note: Ribbon width affects distance from corner; fixed width maintains distance. */
    min-width: 10rem
}

/** HIDE Chat **/
#smartsupp-widget-container {
    display: none !important;
}

/* # DIALOG */
html:has(dialog[open]),
html:has([data-custom-dialog][open]:not([open="false"])) {
    overflow: hidden;
}

/* custom dialog that isn't open, or open="false" */
[data-custom-dialog]:is(:not([open]), [open="false"]) {
    display: none !important;
}

/** DIALOG REWRITE **/
[data-custom-dialog] {
    position: fixed;
    inset: 0;
    z-index: 99;
    /* backdrop */
    background-color: rgba(0, 0, 0, 0.2);
  }

dialog::backdrop,
dialog::-webkit-backdrop {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.dialog-close {
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 2.75rem;
    height: 2.5rem;
    color: black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/** Fixes fancybox slide 0px size **/
.fancybox__slide.has-image>.fancybox__content {
    width: 100% !important;
    height: 100% !important;
}
/* ? maybe */
[data-fancybox] {
    cursor: pointer;
}


/* ! DEBUG */
.alt {
    /* display: none; */
    background-color: rgba(0, 255, 128, 0.05);
}

/* ! DEBUG */
main+main {
  margin-top:  6rem;
  padding-top: 4rem;
  border-top: 5px dashed #e6007d;
}